{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["rapid7/base"],
  "globals": {
    "require": true,
    "process": true,
    "__dirname": true,
    "console": true
  }
}
