body {
  background: rgb(249, 249, 249);
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.widget {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(203, 203, 203);
  padding: 30px;
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;
}
