html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  background: rgb(249, 249, 249);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.rounded-6 {
  border-radius: 6px;
}

.wrapper {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(203, 203, 203);
  padding: 30px;
  box-shadow: rgba(175, 175, 175, 0.2) 0px 1px 2px 0px;
  min-width: 100%;
}

.logo {
  margin-bottom: 15px;
}

.content {
  background: rgb(249, 249, 249);
  border: 1px solid rgb(230, 230, 230);
  padding: 20px;
  word-wrap: break-word;
}

.env-var {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

details summary {
  padding-bottom: 0.25rem;
}

dd {
  margin-bottom: 10px;
}

.has-error .form-control, :invalid input {
  border: 2px solid red;
}

.button-margin {
  margin-left: 10px;
}

.scrollable-list {
  overflow-x: hidden;
}

#recent-logins h4 {
  border-top: 2px solid rgb(203, 203, 203);
  margin-top: 15px;
  padding-top: 15px;
}

#recent-logins .scrollable-list {
  height: 300px;
}

summary {
  display: flex;
  width: 100%;
  align-items: center;
}

.login-button {
  margin-left: auto;
}

input[type="text"], input[type="url"] {
  border: 1px solid #6c757d;
}

div.profile {
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
}
